In [ ]:
#find the largest digit in 84951 using while loop
# numbers = int(input('Enter the number: '))
i = 0

# while n > 0:
#     d = n % 10
#     if i < d:
#         i = d
#     n = n // 10

# print(i)

Maximum value: 89

In [ ]:
#first and secund mx number
numbers = [12, 45, 67, 23, 89, 34]

first_max = second_max = float('-inf')

for num in numbers:
    if num > first_max:
        second_max = first_max
        first_max = num
    elif num > second_max and num != first_max:
        second_max = num

print("First maximum:", first_max)
print("Second maximum:", second_max)

First maximum: 89
Second maximum: 67

In [ ]:
#max number
numbers = [12, 45, 67, 23, 89, 34]

maximum = 0   # assume first element is max
for num in numbers:
    if num > maximum:
        maximum = num

print("Maximum value:", maximum)

Maximum value: 89

In [ ]:
for i in range(3):
    print(i * "Hi ")

Hi
Hi Hi

In [ ]:
n=36
i=1
while i<=n:
    if n%i==0:
        print(i,end=" ")
    i=i+1

1 2 3 4 6 9 12 18 36

In [ ]:
#calculate the sum of first 15 odd numbers using while loop?

count = 0
number = 1
sum_of_odds = 0

# Loop until we find 15 odd numbers
while count < 15:
    if number % 2 != 0:    # Check if the number is odd
        sum_of_odds += number
        count += 1
    number += 1            # Move to the next number

# Print the result
print("Sum of first 15 odd numbers is:", sum_of_odds)

Sum of first 15 odd numbers is: 225

In [ ]:
#reverse words of "python is fun"
data='python is fun'
reverse=" "
for i in data:
  reverse=i+reverse
print(reverse)

nuf si nohtyp

In [ ]:
a=[]
size=int(input('Enter size :'))
for i in range (size):
    val=int(input('Enter the number :'))
    a.append(val)
    print(a)
b=[]
for i in a:
  if i not in b:
    b.append(i)
    print(b)
    max=b[0]
    for i in range(len(b)):
      if b[i]>max:
        max=b[i]
      print(max)

Enter size :4
Enter the number :23
[23]
Enter the number :43
[23, 43]
Enter the number :53
[23, 43, 53]
Enter the number :53
[23, 43, 53, 53]
[23]
23
[23, 43]
23
43
[23, 43, 53]
23
43
53

In [ ]:
# Step 1: Create user-defined list
a = []
size = int(input("Enter size of the list: "))
for i in range(size):
    val = int(input("Enter number: "))
    a.append(val)

print("Original List:", a)

# Step 2: Create list with unique elements
b = []
for i in a:
    if i not in b:
        b.append(i)

print("Unique List:", b)

# Step 3: Find maximum and second maximum
if len(b) >= 2:
    max1 = max(b)
    b_copy = b.copy()
    b_copy.remove(max1)
    max2 = max(b_copy)
    print("Maximum number:", max1)
    print("Second Maximum number:", max2)
elif len(b) == 1:
    print("Only one unique number. Maximum is:", b[0])
    print("Second Maximum does not exist.")
else:
    print("No elements in the list.")

# Step 4: Find total sum of unique list
total_sum = sum(b)
print("Total sum of unique elements:", total_sum)

Enter size of the list: 4
Enter number: 25
Enter number: 54
Enter number: 65
Enter number: 25
Original List: [25, 54, 65, 25]
Unique List: [25, 54, 65]
Maximum number: 65
Second Maximum number: 54
Total sum of unique elements: 144

In [ ]:
# Step 1: Create a user-defined list
a = []
size = int(input("Enter size of the list: "))
for i in range(size):
    val = input("Enter element: ")  # Use input() to allow both numbers and letters
    a.append(val)

print("Original List:", a)

# Step 2: Reverse the list without using reverse() or slicing
reversed_list = []
for i in range(len(a)-1, -1, -1):
    reversed_list.append(a[i])

print("Reversed List:", reversed_list)

# Step 3: Check if the list is a palindrome
if a == reversed_list:
    print("The list is a palindrome.")
else:
    print("The list is not a palindrome.")

Enter size of the list: 3
Enter element: 1
Enter element: 2
Enter element: 1
Original List: ['1', '2', '1']
Reversed List: ['1', '2', '1']
The list is a palindrome.

In [ ]:
#How to find forth element in list
a=[]
size=int(input("Enter the size :"))
for i in range(size):
  l=int(input('enter the number :'))
  a.append(l)
print(a)
if len(a)>=3:
  third_element = a[2]
print(third_element)

Enter the size :5
enter the number :1
enter the number :3
enter the number :5
enter the number :6
enter the number :7
[1, 3, 5, 6, 7]
5

In [ ]:
#list comprehension
#list comprehension in python provide a concise way to create a list
#syntex:
#expresssion fr item in iterable if condition

#write a program who print list of square

In [ ]:
a=[1,2,3,4]
b=[]
for i in range (1,len(a)+1):
  #print(i**2)
  b.append(i**2)
print(a)
print(b)

[1, 2, 3, 4]
[1, 4, 9, 16]

In [ ]:
#using the comprehension
square =[x**2 for x in range (1,5)]
print(square)

[1, 4, 9, 16]

In [ ]:
x_vals=[1,2,3]
y_vals=[4,5,6]
pair = [(x,y) for x in x_vals for y in  y_vals]
print(pair)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [ ]:
a=[f"{i}x{j}" for i in range(1,3) for j in range(1,11)]
print(a)

['1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9', '1x10', '2x1', '2x2', '2x3', '2x4', '2x5', '2x6', '2x7', '2x8', '2x9', '2x10']

In [ ]:
x_vals=[1,2,3]
y_vals=[3,4,5]
pair=[(x,y) for x in x_vals for y in y_vals if x+y>5]
print(pair)

[(1, 5), (2, 4), (2, 5), (3, 3), (3, 4), (3, 5)]

In [ ]:
#Q4 create a list comprehension who filer only even number
a=[i for i in range(1,11) if i%2==0]
print(a)

[2, 4, 6, 8, 10]

In [ ]:
a=[i for i in range(1,11) if i%2 !=0 ]
print(a)

[1, 3, 5, 7, 9]

In [ ]:
a=[i for i in range(1,11) if i**2>20 ]
print(a)

[5, 6, 7, 8, 9, 10]

In [ ]:
#covert all string in upper case
name=['sam','rohit','ankit']
upper_name =[i.upper() for i in name]
print(upper_name)

['SAM', 'ROHIT', 'ANKIT']

In [ ]:
#Q1 using list comprehension list alphabats in string print
names=['raj','name','ram']
a=[char for name in names for char in name if char.isalpha() ]
print(a)

['r', 'a', 'j', 'n', 'a', 'm', 'e', 'r', 'a', 'm']

In [ ]:
#Q2 create a list of letters of each word in list
name=['sam','raj','rohit']
#output --> ['s','r','r']
a=[i[0] for i in name]
print(a)

['s', 'r', 'r']

In [ ]:
#Q3extract all vowels from a given string using list comprehnetion
a='i love pyhton '
#extract all vowels ?
v=[i for i in a if i in "aeiou"]
print(v)

['i', 'o', 'e', 'o']

In [ ]:
#Q4 create a list of numbers divible by 3 but not by 5 (1-50)
a=[i for i in range(1,51) if i%3==0 and i%5 !=0  ]
print(a)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48]

In [ ]:
#Q1 shop --> [pen,notebook,pizza,icecream,vdapav,football,jeans,shoes,shirt]
#filter out -->stationry -->[], bakery-->,cloths-->[]

shop = ['pen','notebook','pizza','icecream','vdapav','football','jeans','shoes','shirt']
stationry=[]
bakery=[]
cloths=[]

for i in shop:
  if i in ['pen','notebook','football']:
    stationry.append(i)
  elif i in ['pizza','icecream','vdapav']:
    bakery.append(i)
  else:
    cloths.append(i)

print("Stationery:", stationry)
print("Bakery:", bakery)
print("Cloths:", cloths)

Stationery: ['pen', 'notebook', 'football']
Bakery: ['pizza', 'icecream', 'vdapav']
Cloths: ['jeans', 'shoes', 'shirt']

In [ ]:
#Q2 create list of tuples from range 1 to 5
# [(1,1),(2,4),(3,9),(4,16),(5,25)]
# a=[(i,i**2) for i in range(1,6)]
# print(a)

for i in range (1,6):
  print((i,i**2),end=" ")

(1, 1) (2, 4) (3, 9) (4, 16) (5, 25)

In [ ]:
#Q3 extract top 3 longest word
a=['python','data','science','machine','ai','development']
size=[]
for i in a:
  if len(i)>=7:
    size.append(i)
print(size)

['python', 'data', 'science', 'machine', 'development']

In [ ]:
#Q4 exstract vaild phone number
a=['9567465691','8756736723','2345','9579']
b=[]
for i in a:
  if len(i)>=10:
    b.append(i)
print(b)

['9567465691', '8756736723']

In [ ]:
#Q5 clean list by removing special characters
# a=['py@thon','d#ata','sci!ence']

#result-->['python','data','science']
a = ['py@thon', 'd#ata', 'sci!ence']

cleaned = []
for word in a:
    new_word = ""
    for ch in word:
        if ch.isalpha():   # keep only letters
            new_word += ch
    cleaned.append(new_word)

print(cleaned)

['python', 'data', 'science']