In [ ]:
#introduction to set
#(1). identification ={obj1,obj2,...objn}
#(2). it is undordered ,mutable data type.
#(3). it does not allow duplicate elements.

In [ ]:
a={'sam','mohit','sam','ankit','sam','raj'}
a
type(a)

set

In [ ]:
#loop in sets
for i in a:
  print(i,end=" ")

raj sam ankit mohit

In [ ]:
len(a)

4

In [ ]:
a={1,2,3}
b={4,5,6}
#c=a+b
#c

#a={1,2,3}
#a*3

In [ ]:
# function in sets

In [ ]:
#(1). len() ---->it will return length of a set
a={1,2,3}
len(a)

3

In [ ]:
#(2). add()----> it will add element.
a={1,2,3}
a.add(56)
a

{1, 2, 3, 56}

In [ ]:
#(3). remove()--->it will remove element.
a={1,2,3,4}
a.remove(4)
a

{1, 2, 3}

In [ ]:
#operation in sets

In [ ]:
a={1,2,3,4}
b={3,4,5,6}
c=a.union(b) #it will combine 2 set with having unique value
c

{1, 2, 3, 4, 5, 6}

In [ ]:
c=a|b #it will combine 2 set with having unique values
c

{1, 2, 3, 4, 5, 6}

In [ ]:
c=a.intersection(b) #it will return comman elemets in sets
c

{3, 4}

In [ ]:
c=a&b #it will return comman elemets in sets
c

{3, 4}

In [ ]:
a-b #it will retuen only sets a value without including common elements.
{1,2}

{1, 2}

In [ ]:
b-a

{5, 6}

In [ ]:
a={1,2,3,4}
b={3,4,5,6} #using this method, we can extract all elements without having comman elements
a^b

{1, 2, 5, 6}

In [ ]:
a={1,2,3,4}
b=a.copy()
b # it will crete a duplicate entery or id of data

{1, 2, 3, 4}

In [ ]:
#Q1 find all unique vowel present in a string using a set.
text = "programimg in python "
#output=---->{'o','i',a}
b=set()
for i in text:
  if i in 'aeiou':
    b.add(i)
print(b)

{'o', 'i', 'a'}

In [ ]:
#Q2 given 2 list ,find common elements using set.
list1=[1,2,3,4,5,6]
list2=[4,5,6,7,8,9]
#output--->{4,5,6}
a=set(list1)
b=set(list2)
c=a&b
print(c)

{4, 5, 6}

In [ ]:
#Q3 find elemts that are in list1 but not in list2.
l1=[1,2,3,4]
l2=[3,4,5,6]
#output--->{1,2}
a=set(l1)
b=set(l2)
print(a-b)

{1, 2}

In [ ]:
#Q4 find all duplicate elements in a list using a set .
# nums=[1,2,3,2,4,5,1,6,3]
#output--->{1,2,3}
nums = [1, 2, 3,2, 4, 5, 1, 6, 3]
a = set()
b = set()

for num in nums:
    if num in a:
        b.add(num)
    else:
        a.add(num)

print(b)

{1, 2, 3}

In [ ]:
#Q5 check if ll elements of one list exits in another list using sets.
l1=[1,2,3]
l2=[1,2,3,4,5]
#output---> true
l1=set(l1)
l2=set(l2)
if l1.issubset(l2):
    print("true")
else:
    print("false")

true

In [ ]:
#Q6 find the first repeted charcter in a string using a set.
text="programming"
#output--->r
a=set()
for char in text:
    if char in a:
        print(char)
        break
    else:
        a.add(char)

r