In [ ]:
# 1 . Given a list of numbers, write a list comprehension to generate a list of squares of only odd numbers
# greater than 10.
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
b=[i**2 for i in a if i%2 !=0 and i>10]
print(b)

[121, 169, 225]

In [ ]:

# 2. You have a list of words:
# words = ["apple", "banana", "grape", "kiwi", "mango"]
# Using list comprehension, extract all words whose length is greater than 4 and contains the letter 'a'
words = ["apple", "banana", "grape", "kiwi", "mango"]
b=[i for i in words if len(i)>4 and 'a' in i]
print(b)

['apple', 'banana', 'grape', 'mango']

In [ ]:
# 3. Write a list comprehension that creates a new list containing the sum of digits of each number in
# the list:.
nums = [123, 456, 789, 101]
b=[]
sum=0
for i in range(len(nums)):

SyntaxError: incomplete input (ipython-input-209503337.py, line 8)

In [ ]:
# 4. Write a list comprehension that produces a list of tuples (num, cube) for numbers 1 to 15
# but only include numbers divisible by 3.
a=[ (i,i**3) for i in range(1,16) if i%3==0]
print(a)

[(3, 27), (6, 216), (9, 729), (12, 1728), (15, 3375)]

In [ ]:

# 5. Given a matrix:
# matrix = [[1,2,3],[4,5,6],[7,8,9]]
# Use a nested list comprehension to flatten the matrix into a single list.
matrix = [[1,2,3],[4,5,6],[7,8,9]]
b=[j for i in matrix for j in i]
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 6. Create a tuple of squares of numbers from 1 to 20, but only for numbers ending with digit 5.
# Generate a tuple of (word, length) for each word in the list:
words = ["python", "list", "tuple", "comprehension"]
a=[(i,len(i)) for i in words]
print(a)

[('python', 6), ('list', 4), ('tuple', 5), ('comprehension', 13)]

In [ ]:
# 7. Given a list of marks:
# marks = [35, 67, 89, 90, 45, 76]
# Use tuple comprehension to create a tuple of grades based on this rule:
# >= 75 → "A"
# 50–74 → "B"
# < 50 → "C"
marks = [35, 67, 89, 90, 45, 76]
a=["A" if marks >=75 else "B" if marks>=50 else "C" for marks in marks]
print(a)

['C', 'B', 'A', 'A', 'C', 'A']

In [ ]:

# 8. You have a list of employee salaries:
# salaries = [25000, 40000, 52000, 18000, 75000, 30000]
# Use filter() with lambda to keep only salaries above 30,000.
# Then use map() with lambda to increase each selected salary by 10%.
# Finally, convert the result into a list.
salaries = [25000, 40000, 52000, 18000, 75000, 30000]
a=list(filter(lambda x:x>30000,salaries))
b=list(map(lambda x:x*1.10,a))
print(b)

[44000.0, 57200.00000000001, 82500.0]

In [ ]:

# 9. You have a list of numbers:
# numbers = [12, 45, 67, 34, 89, 22, 55, 100]
# Use filter() with lambda to select only odd numbers greater than 40.
# Then apply map() with lambda to cube each selected number.
numbers = [12, 45, 67, 34, 89, 22, 55, 100]
a=list(filter(lambda x:x%2 !=0 and  x>40 ,numbers))
b=list(map(lambda x:x**3,a))
print(b)

[91125, 300763, 704969, 166375]

In [ ]:
# 10. Given a list of student names:
# students = ["Ankit", "Ravi", "Sam", "Meena", "Ritu", "Aman"]
# Use filter() with lambda to select names that start with 'A'.
# Then apply map() with lambda to convert those names into uppercase.
students = ["Ankit", "Ravi", "Sam", "Meena", "Ritu", "Aman"]
a=list(filter(lambda x:x[0]=='A',students))
b=list(map(lambda x:x.upper(),a))
print(b)

['ANKIT', 'AMAN']