In [ ]:
# Q.1 Convert all vowels from the given string into a tuple using comprehension.
s = "comprehension"
# Result: ('o', 'e', 'e', 'i', 'o')

a=tuple(i for i in s if i in 'aeiou')
print(a)

for i in range(len(s)):
  if s[i] in 'aeiou':
    print(s[i])

('o', 'e', 'e', 'i', 'o')

In [ ]:
b=[]
size=int(input("enter the size :"))
for i in range(size):
  val=int(input("enter the value :"))
  b.append(val)
print(b)

enter the size :3

In [ ]:
# Q.2 Create a list of all pairs (x, y) where x is from [1, 2, 3] and y is from [4, 5].
# Result: [(1, 4), (1, 5), (2, 4), (2, 5), (3, 4), (3, 5)]
x=[1,2,3]
y=[4,5]
for i in x:
    for j in y:
        print((i,j),end=" ")
a=[(i for i in x )]

(1, 4) (1, 5) (2, 4) (2, 5) (3, 4) (3, 5)

In [ ]:

# Q.3 From numbers 1 to 10, make a tuple of squares of numbers divisible by 3.
# Result: (9, 36, 81)
a =tuple(i**2 for i in range(1,10) if i%3==0 )
print(a)

(9, 36, 81)

In [ ]:

# Q.4 Convert each word’s length into a tuple using comprehension.
words = ["python", "ai", "code", "ml"]
# Result: (6, 2, 4, 2)
a=tuple(len(i) for i in words)
print(a)

(6, 2, 4, 2)

In [ ]:

# Q.5 Store all uppercase letters of a string in a tuple using comprehension.
s = "PyThOn ProGrAmMiNg"
# Result: ('P', 'T', 'O', 'P', 'G', 'A', 'M', 'N')
a=tuple(i.upper() for i in s if i.isupper())
print(a)

('P', 'T', 'O', 'P', 'G', 'A', 'M', 'N')

In [ ]:
# Q.6 Reverse each word in the tuple using comprehension.
words = ("hello", "world", "python")
# Result: ('olleh', 'dlrow', 'nohtyp')
for i in range(len(words)):
  print(words[i][::-1])

olleh
dlrow
nohtyp

In [ ]:

# Q.7 Extract elements at odd indices from a list using comprehension.
nums = [10, 20, 30, 40, 50, 60]
# Result: [20, 40, 60]
for i in nums:
  if i%2!=0:
    print(i)

20 40 60

In [ ]:


# Q.8 From numbers 1–12, keep squares greater than 50.
# Result: [64, 81, 100, 121, 144]
a=list(i**2 for i in range(1,13) if i**2>50)
print(a)

[64, 81, 100, 121, 144]

In [ ]:


# Q.9 Extract the first letter of each word into a tuple.
words = ["apple", "banana", "grapes", "mango"]
# Result: ('a', 'b', 'g', 'm')
a = tuple(i[0] for i in words)
print(a)

('a', 'b', 'g', 'm')

In [ ]:
# Q.10 Extract palindromes from a tuple of words.
words = ("madam", "apple", "level", "cat", "noon")
# Result: ('madam', 'level', 'noon')
for i in range(len(words)):
  if words[i]==words[i][::-1]:
    print(words[i])

madam
level
noon