In [ ]:

#tuple in python
#(1). identification =()
#(2). immutable datatype ---> we cannot change value at run time
#(3). indexing start from 0 and length start from 1
#(4). this is like a container in which we can store diffrenet diffrent data type of elements

In [ ]:
a=('sam','raj',56,23.89)
print(a)
type (a)

('sam', 'raj', 56, 23.89)

In [ ]:
#indexing in tuple
print(a[0])
print(a[1])
print(a[2])

sam
raj
56

In [ ]:
#slicing in tuple
a=('sam','raj',56,23.89)
print(a[0:3])
print(a[1:4])
print(a[2:])
print(a[:2])
print(a[:])

('sam', 'raj', 56)
('raj', 56, 23.89)
(56, 23.89)
('sam', 'raj')
('sam', 'raj', 56, 23.89)

In [ ]:
#immutable datatype
a=('sam','raj',56,23.89)
a[1]='rahul'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#properties of tuple
#(1).concatenation
a=(1,2,3)
b=(4,5,6)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [ ]:
#(2).replication
a=(1,2,3)
b=a*3
print(b)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#function in tuple
#(1).len()---> it will return length of tuple
a=('sam','raj',56,23.89)
print(len(a))

4

In [ ]:
#(2).index()---> it will return indexing number of a tuple.
a=('sam','raj',56,23.89)
print(a.index(56))

2

In [ ]:
#(3). count ()----> it will return

In [ ]:
#(4). min ()---> it will return miniimum number in tuple.
a=(1,2,3,4)
min(a)

1

In [ ]:
#(5)max ()---> it will return miniimum number in tuple.
a=(1,2,3,4)
max(a)

4

In [ ]:
#how can create a user defined tuple?
a=[]
size=int(input("enter size:"))
for i in range(size):
  val= input("enter item: ")
  a.append(val)
b=tuple(a)
print(b)
c = list(b)
d=input("enter item which you wan to add ")
c.append(d)
e = tuple(c)
print(e)

enter size:4
enter item: raj
enter item: ab
enter item: 54
enter item: 35
('raj', 'ab', '54', '35')
enter item which you wan to add python
('raj', 'ab', '54', '35', 'python')

In [ ]:
#user defined tuple create in which user can delet ,insert, update

# a=[]
# size=int(input("enter size:"))
# for i in range(size):
#   val= input("enter item: ")
#   a.append(val)
# b=tuple(a)
# print(b)
# c = list(b)
# c.insert(2,'rahul')
# print(b)

a = ()
size = int(input("enter size: "))
for i in range(size):
    val = input("enter value: ")
    a = a + (val,)
print(a)
d = input("Enter value to be deleted: ")
b = list(a)
b.remove(d)
c = tuple(b)
print(c)
e = input("Enter value to be inserted: ")
f = int(input("Enter index num: "))
g = list(c)
g.insert(f,e)
h = tuple(g)
print(h)
j = input("Enter value to be updated: ")
k = int(input("Enter index num: "))
l = list(h)
l[k] = j
m = tuple(l)
print(m)

enter size: 3
enter value: 1
enter value: 2
enter value: 3
('1', '2', '3')
Enter value to be deleted: 2
('1', '3')
Enter value to be inserted: 4
Enter index num: 2
('1', '3', '4')
Enter value to be updated: 6
Enter index num: 1
('1', '6', '4')

In [ ]:
#write a user defined tuple in which only unique elements will store.
a = []
size = int(input("enter size: "))
for i in range(size):
    while True:
        val = input("enter item: ")
        if val not in a:
            a.append(val)
            break
        else:
            print("Item already exists. Please enter a unique item.")
b = tuple(a)
print(b)
# a = []
# size = int(input("enter size: "))
# for i in range(size):
#     val = input("enter value: ")
#     a = a + (val,)
# print(a)
# b = set(a)
# c = tuple(b)
# print(c)

# a = []
# size = int(input("Enter the size: "))

# for i in range(size):
#     val = input("Enter the data: ")
#     if val not in a:
#         a.append(val)
#     else:
#         print(val)

# b = tuple(a)
# print( b)

enter size: 3
enter item: raj
enter item: 34
enter item: rte
('raj', '34', 'rte')

In [ ]:
#Q1 reverse a tuple without using slicing
a = (1,2,3,4,5)
b = list(a)
b.reverse()
c = tuple(b)
print(c)

(5, 4, 3, 2, 1)

In [ ]:
#Q1 create a tuple of square from 1 to 4
a= tuple(i**2 for i in range(1,5))
print(a)

(1, 4, 9, 16)

In [ ]:
a=tuple(i**2 for i in range (1,10) if i%2==0)
print(a)

(4, 16, 36, 64)

In [ ]:
a=tuple("even" if x%2==0 else x for x in range (1,5))
print(a)

(1, 'even', 3, 'even')

In [ ]:
#Q3 from the string "python" crete a tuple that converts vowels to uppercase and consonebts to lowercase .

a= "python"
b=tuple(x.upper() if x in "aeiou" else x.lower() for x in a)
print(b)

('p', 'y', 't', 'h', 'O', 'n')

In [ ]:
#Q4 crete a tuple where numbers divisible by 3 are "Div3", otherwise keep the number.
a=tuple("Div3" if x%3==0 else x for x in range (1,10))
print(a)

(1, 2, 'Div3', 4, 5, 'Div3', 7, 8, 'Div3')

In [ ]:
#Q5 in a given number (1,11) replace odd numbers to "odd" and even numbers to "even"
a=tuple("odd" if x%2!=0 else "even" for x in range (1,11))
print(a)

('odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even')

In [ ]:
#Q6 generate a tuple of the (number,suare) pairs for numbers for 1 to 6
a=tuple((x,x**2) for x in range (1,6))
print(a)

((1, 1), (2, 4), (3, 9), (4, 16), (5, 25))

In [ ]:
#Q7 crete a tuple of the list the first letter of each word in a sentence.
# a= "mathramatics is good "
#output---> ('m','i','g')
a= "mathramatics is good "
a= tuple (b[0] for b in a.split())
print(a)

('m', 'i', 'g')

In [ ]:
#Q8 crete a tuple of the numbers from 1-10 but only include numbers greater than 5 .
a=tuple(x for x in range (1,11) if x>5)
print(a)

(6, 7, 8, 9, 10)

In [ ]:
# Q9 for numbers 1-8 crete a tuple where multiples of 3 become 'three'
# multiple of 5 becomr 'five', otherwise keep the numbers .
# output--->(1,2,'three',4,five,'three',7,8)
a=tuple("three" if x%3==0 else "five" if x%5==0 else x for x in range (1,9))
print(a)

(1, 2, 'three', 4, 'five', 'three', 7, 8)

In [ ]:
#Q10 from a list crete a tuple of names in uppercase if length>4,otherwise lowercase.
# name =['Ai','python','ml','science']
#output--->('ai','PYTHON','ml','SCIENCE')
name =['Ai','python','ml','science']
a=tuple(x.upper() if len(x)>4 else x.lower() for x in name)
print(a)

('ai', 'PYTHON', 'ml', 'SCIENCE')

In [ ]:
#Q11 from the word "developer",crete a tuple of only vowel .
#print('e','e','o','e')
a= "developer"
b=tuple(x for x in a if x in "aeiou")
print(b)

('e', 'e', 'o', 'e')

In [ ]:
#Q12 crete a tuple of (word,length) pairs for each word is sentence.
a="python tuple comprehension practies"
#output--->(('python',6),('tuple',5),('comprehesion',13),('practice',8))
b=tuple ((x,len(x))for x in a.split())
print(b)

(('python', 6), ('tuple', 5), ('comprehension', 13), ('practies', 8))

Dicitionary

In [ ]:
#introduction to dicitionary
#(1). Identification ={key:value,key:value...}
#(2). Element will separate by comma.
#(3). Indexing start from 0 and length start from 1.

In [ ]:
a={"model":"hyrender","Brand":"Toyota","Price":2000000}
print(a)
type(a)

{'model': 'hyrender', 'Brand': 'Toyota', 'Price': 2000000}

dict

In [ ]:
#loop in dictionary
#extract all keys

for i in a :
  print(i)

model
Brand
Price

In [ ]:
for i in a.keys():
  print(i)

model
Brand
Price

In [ ]:
#extract all values
for i in a:
  print(a[i])

hyrender
Toyota
2000000

In [ ]:
for i in a.values():
  print(i)

hyrender
Toyota
2000000

In [ ]:
#update the values
print(a)
a['model'] = 'innova'

{'model': 'innova', 'Brand': 'Toyota', 'Price': 2000000}
{'model': 'innova', 'Brand': 'Toyota', 'Price': 2000000}

In [ ]:
a['color'] = 'black '
print(a)

{'model': 'innova', 'Brand': 'Toyota', 'Price': 2000000, 'color': 'black '}

In [ ]:
# Functions in Dictionary
#(1). len()----> it will return length of a dictinoary .
len(a)

4

In [ ]:
#(2). pop()---> It will remove key value pair.
print(a)

{'model': 'innova', 'Brand': 'Toyota', 'Price': 2000000, 'color': 'black '}

In [ ]:
a.pop('color')

'black '

In [ ]:
print(a)

{'model': 'innova', 'Brand': 'Toyota', 'Price': 2000000}

In [ ]:
#(3). popitem ()---> It will remove element from the last indexing.
a.popitem()

('Price', 2000000)

In [ ]:
a

{'model': 'innova', 'Brand': 'Toyota'}

In [ ]:
a.popitem()

('Brand', 'Toyota')

In [ ]:
#(4). update ()----> It will update value of specific key.
a={"model":"hyrender","Brand":"Toyota","Price":2000000}
a

{'model': 'hyrender', 'Brand': 'Toyota', 'Price': 2000000}

In [ ]:
a.update({"model":"innova"})
a

{'model': 'innova', 'Brand': 'Toyota', 'Price': 2000000}

In [ ]:
a['model']

'innova'

In [ ]:
a["new_model"] =500
a

{'model': 'innova', 'Brand': 'Toyota', 'Price': 2000000, 'new_model': 500}

In [ ]:
#Q1 Create a ditinoary of 3 students with their marks and print it
a={'ram':70,'shyam':80,'hari':90}
print(a)

{'ram': 70, 'shyam': 80, 'hari': 90}

In [ ]:
#Q2 how do you access the marks of "name" from the dictionary?
a={'ram':70,'shyam':80,'hari':90}
print(a['ram'])

70

In [ ]:

#Q3 add new student "neha":80 the dictinoary
a={'ram':70,'shyam':80,'hari':90}
a['neha']=80
print(a)

{'ram': 70, 'shyam': 80, 'hari': 90, 'neha': 80}

In [ ]:
#Q4 Delete "neha" from dictioary
{'ram': 70, 'shyam': 80, 'hari': 90, 'neha': 80}
del a['neha']
print(a)

In [ ]:
#Q5 check if "amit" exits in dictionary
a={'ram':70,'shyam':80,'hari':90}
for i in a :
  if "amit" in a:
    print("yes")
  else:
    print("no")

no
no
no
{'ram': 70, 'shyam': 80, 'hari': 90}

In [ ]:
#Q6 get all keys and values from the dictionary.
# for i in a.keys():
#   print(i)
# for i in a.values():
#   print(i)
for x,y in a.items():
  print(x,y)

ram 70
shyam 80
hari 90

In [ ]:
#Q7 Write a program to find the students with the highest marks.
a={'ram':70,'shyam':80,'hari':90}
for i in a :
  if a[i]==max(a.values()):
    print(i)

hari

In [ ]:
#Q8 Count the frequent of each charcater in a string using dictionary.
a='banana'
#output--->{"b":1,"a":3,"n":2}
b={}
for i in a:
  b[i]=0
  for j in a:
    if i==j:
      b[i]+=1
print(b)

{'b': 1, 'a': 3, 'n': 2}

In [ ]:
#Q9 count the frequency of the words in a list using dictinoary
word =['apple','banana','apple','orange','banana','apple']
#output--->{'apple':3,'banana':2,'orange':1}
b={}
for i in word:
  b[i]=0
  for j in word:
    if i==j:
      b[i]+=1
print(b)

{'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
#Q1 find the student with the secound - highest marks.
student = {"Amit": 85, "sita":90,"Ravi":78,"mohit":88}

highest = -1
for i in student :
  if student[i]>highest:
    highest=student[i]
print(highest)
secound_highest =-1
for i in student:
  if student[i]>secound_highest and student[i]<highest:
    secound_highest=student[i]
    secound_name=i
print("secound topper :", secound_name,"Mark :",secound_highest)

90
secound topper : mohit Mark : 88

In [ ]:
#Q2 Count frequency of each character in a string using in a dictionary.
a="programing"
#output---> {'p':1, 'r' :2, 'o':1,'g':2, 'a':1,'m':2,'i':1,'n:1}
b={}
for i in a:
  b[i]=0
  for j in a:
    if i==j:
      b[i]+=1
print(b)

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 1, 'i': 1, 'n': 1}

In [ ]:
#Q3 find keys with maximum value .
scores={"A":50,"B":80,"C":80,"D":60}
#output---> 80 by ['B','C']
for i in scores :
  maximu = max(scores.values())
for j in scores:
  if scores[j]==maximu:
    print(j,end=" ")

B C

In [ ]:
from copyreg import add_extension
#Q4 remove all the keys with values less than 50.
scores={"A":45,"B":55 ,"C":35,"D":60}
#output---->{"B":55,"D":60}
b={}
for i in scores:
  if scores[i]<50:
    add.extend(i)
print(add)

NameError: name 'add' is not defined

In [ ]:
#Dictinoary comprehension
#Dictionaries comprehension in python offer a concise way to create
#Dictionaries from iterables.
#similar to list comprehension ,they allow you to trct
#cosdictinaries in a single line,with an optional condition for filtering.
#syntax:
#{key_experssion:value_expression for item in iterable if condition}

In [ ]:
#Create dictionary square
square_dict= {x:x**2 for x in range (1,8)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
# Fiter even numbers
even_dict={x:x**2 for x in range (10) if x%2==0}
print(even_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
#reverse a dictionary
original={'a':1,'b':2,'c':3}
reverse={v:k for k,v in original.items()}
print(reverse)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
#convert list to dictionary with lengths
word=['apple','banana','cherry']
length_dict ={word:len(word) for word in word}
print(length_dict)

{'apple': 5, 'banana': 6, 'cherry': 6}

In [ ]:
#Q1 crete a dictionary where keys are words and value are uppercase versions.
word=['python','code','dict']
v={word.upper():word for word in word}
print(v)

# word=['python','code','dict']
# b={}
# for i in word:
#   b[i]=i.upper()
# print(b)

{'PYTHON': 'python', 'CODE': 'code', 'DICT': 'dict'}
{'python': 'PYTHON', 'code': 'CODE', 'dict': 'DICT'}

In [ ]:
#Q2 crete a dictionary from a sentence with  each word frequency.
sentence ='python makes coding easy and python is fun'
#output--> {'python':2 "make":1, "coding":1,"easy:1","and":2,"is":1,"fun":1}
word=sentence.split()
b={}
for i in word:
  b[i]=0
  for j in word:
    if i==j:
      b[i]+=1
print(b)

{'python': 2, 'makes': 1, 'coding': 1, 'easy': 1, 'and': 1, 'is': 1, 'fun': 1}

In [ ]:
#Q3 crete a nested dictionary of numers from 1-3 with their square and cube .
#output---> {1:{'square':1,'cube':1},2:{'square':4,'cube':8},3{'square':9 'cube':27}}
b={}
for i in range (1,4):
  b[i]={i:{'square':i**2,'cube':i**3}}
print(b)

{1: {1: {'square': 1, 'cube': 1}}, 2: {2: {'square': 4, 'cube': 8}}, 3: {3: {'square': 9, 'cube': 27}}}

In [ ]:
#Q4 create a dictionary from a string where keys are vowels and value are thir count.
#text="dictionary comprehension practice "
#output---> {'i':4,'o':1,'a':2,'e':2}
text="dictionary comprehension practice "
v={}
vowel="aeiou"
for ch in text:
  if ch in vowel:
    if ch in v:
      v[ch]+=1
    else:
      v[ch]=1
print(v)

{'i': 4, 'o': 3, 'a': 2, 'e': 3}

In [ ]:
#Q5 crete a dictionary with numbers 1-10 as keys and "divisible by 3"/"not divisible "as values.
#Output--->{1:"not divisble",2:"not divisible",3:"divisible by 3"}
d={}
for i in range (1,4):
  if i%3==0:
    d[i]="divisible by 3"
  else:
    d[i]="not divisible"
print(d)

{1: 'not divisible', 2: 'not divisible', 3: 'divisible by 3'}

In [ ]:
#Q6 crete a dictionary from 2 list .
keys=['name','age','city']
value=['sam',30,'delhi']
#output --->{'name':'sam','age':30,'city':'Delhi'}
a={k:v for k,v in zip(keys,value)}
print(a)

{'name': 'sam', 'age': 30, 'city': 'delhi'}

In [ ]:
#Q7 convert a list of tuple into dictionary.
p=[('a',1),('b',2),('c',3)]
#output---->{'a':1,'b':2,'c':3}
d={}
for key,value in p:
  d[key]=value
print(d)

{'a': 1, 'b': 2, 'c': 3}